html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}


.main {
  display: flex;
  flex-direction: column;
  font-size: larger;
}


.product-container {
  display: flex;
  flex-flow: row wrap;
  width: 75%;
  margin-left: 1rem;
}

